<!-- Search Bar -->
<!-- name -->
<label for="name">Enter a name search term:</label>
<input name="name" [(ngModel)]="name" (change)="updateQuery()" />

<!-- generation -->
<label for="generations">Choose a generation:</label>
<select name="generations" [(ngModel)]="generation" (change)="updateQuery()">
  <option></option>
  <option
    *ngFor="let pokemonGeneration of pokemonGenerations$ | async"
    [value]="pokemonGeneration"
  >
    {{ pokemonGeneration }}
  </option>
</select>

<!-- versions -->
<label for="versions">Choose a version:</label>
<select name="versions" [(ngModel)]="version" (change)="updateQuery()">
  <option></option>
  <option
    *ngFor="let pokemonVersion of pokemonVersions$ | async"
    [value]="pokemonVersion"
  >
    {{ pokemonVersion }}
  </option>
</select>

<!-- types -->
<label for="types">Choose a type:</label>
<select name="types" [(ngModel)]="type" (change)="updateQuery()">
  <option></option>
  <option
    *ngFor="let pokemonType of pokemonTypes$ | async"
    [value]="pokemonType"
  >
    {{ pokemonType }}
  </option>
</select>

<!-- Pokemon List Display -->
<div *ngIf="pokemonResponse$ | async as pokemonResult; else noResults">

  <!-- Pagination -->
  <div class="page-controls">
    <button
      [disabled]="pokemonResult.pageNumber === 0"
      (click)="getPage(pokemonResult.pageNumber - 1)"
    >
      &#8592;
    </button>
    <span>Page: {{ pokemonResult.pageNumber + 1 }}</span>
    <button
      [disabled]="pokemonResult.pageNumber === pokemonResult.totalPages - 1"
      (click)="getPage(pokemonResult.pageNumber + 1)"
    >
      &#8594;
    </button>
  </div>
  <p>{{ pokemonResult.totalPages }} Pages</p>

  <!-- Pokemon List View -->
  <div class="results">
    <div *ngFor="let poke of pokemonResult.data">
      <app-pokemon-list-item [pokemon]="poke"></app-pokemon-list-item>
    </div>
  </div>
</div>

<!-- No Result Template -->
<ng-template #noResults>
  <div>No results found...</div>
</ng-template>
