<!-- Search Bar -->
<form class="example-form">
  <!-- name -->
  <mat-form-field>
    <mat-label>Name:</mat-label>
    <input
      name="name"
      matInput
      type="text"
      [(ngModel)]="name"
      (change)="updateQuery()"
    />
    @if (name) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="clearName()">
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>

  <!-- generation -->
  <mat-form-field>
    <mat-label for="generations">Generation: </mat-label>
    <mat-select
      name="generations"
      [(value)]="generation"
      (valueChange)="updateQuery()"
    >
      <mat-option [value]="undefined">All</mat-option>
      <mat-option
        *ngFor="let pokemonGeneration of pokemonGenerations$ | async"
        [value]="pokemonGeneration"
        >{{ pokemonGeneration }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- versions -->
  <mat-form-field>
    <mat-label for="versions">Version: </mat-label>
    <mat-select
      name="versions"
      [(value)]="version"
      (valueChange)="updateQuery()"
    >
      <mat-option [value]="undefined">All</mat-option>
      <mat-option
        *ngFor="let pokemonVersion of pokemonVersions$ | async"
        [value]="pokemonVersion"
        >{{ pokemonVersion }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- types -->
  <mat-form-field>
    <mat-label for="types">Type: </mat-label>
    <mat-select name="types" [(value)]="type" (valueChange)="updateQuery()">
      <mat-option [value]="undefined">All</mat-option>
      <mat-option
        *ngFor="let pokemonType of pokemonTypes$ | async"
        [value]="pokemonType.typeName"
        >{{ pokemonType.typeName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<!-- Pokemon List Display -->
<div *ngIf="pokemonResponse$ | async as pokemonResult">
  <!-- Pokemon List View -->

  <div class="card-container" *ngIf="pokemonResult.data.length > 0">
    <div class="card" *ngFor="let poke of pokemonResult.data">
      <app-pokemon-list-item [pokemon]="poke"></app-pokemon-list-item>
    </div>
  </div>
  <!-- Pagination -->
  <div class="page-controls">
    <button
      [disabled]="pokemonResult.pageNumber === 0"
      (click)="getPage(pokemonResult.pageNumber - 1)"
    >
      &#8592;
    </button>
    <span>Page: {{ pokemonResult.pageNumber + 1 }}</span>
    <button
      [disabled]="pokemonResult.pageNumber === pokemonResult.totalPages - 1"
      (click)="getPage(pokemonResult.pageNumber + 1)"
    >
      &#8594;
    </button>
  </div>
  <p>{{ pokemonResult.totalPages }} Pages</p>
</div>
